body {
    text-align: center;
}

.topButton {
    margin: 40px 0px 20px;
}

.saveButton {
    margin: 20px 0px;
    padding: 10px 30px;
}

.countFormRow {
    margin: 5px 0px;
}

.getCountsButton {
    margin: 20px 0px;
}

.toastMsg {
  background-color: green;
  color: white;
  display: block;
  padding: 5px 20px;
  border-radius: 5px;
}

.iconButton {
    border: 0px;
    background-color: #1fe0;
}

.iconImg {
    max-width: 15px;
}

.centered {
    justify-content: center;
}

.adminTools {
    border: 1px solid lightslategrey;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.adminToolsButton {
    margin-bottom: 15px;
}

.adminButtonGroup {
    margin-bottom: 20px;
}

.nestedTools {
    border: 1px solid #54B4D3;
    border-radius: 10px;
    margin: 0px 25px 20px;
    padding: 0px 30px;
}

.nestedButtonGroup {
    margin: 20px 0px;
}

.modalFooter {
    justify-content: space-around;
}

.formSubmit {
    margin: 25px 0px;
}

.formTitle {
    margin-bottom: 20px;
}

.logoutButton {
    border: none;
    background-color: #1fe0;
    font-size: 70%;
    margin: 10px 20px;
    color: blue;
}

.logoutButtons {
    text-align: right;
}

.companyLoginForm {
    margin: 90px 0px;
}